/* Palatte: 
Rich Black - #071E22
Crimson - #D72638
Mint Cream - #F0F7EE
Black Bean - #280003
*/

/* Header */

header {
  background-color: #071e22;
  color: #f0f7ee;
}

.header-name {
  text-align: center;
}

.nav {
  justify-content: space-evenly;
}

.nav-section {
  color: #f0f7ee;
  text-underline-offset: var(--offset, 0.3em);
  text-decoration: #d72638 underline 0.25em;
  transition: --offset 400ms, text-decoration-color 400ms;
}

.nav-section:hover,
.nav-section:focus {
  color: #f0f7ee;
  --offset: 0.6em;
}

@supports not (background: paint(something)) {
  .nav-section {
    transition: text-underline-offset 400ms, text-decoration-color 400ms;
  }

  .nav-section:hover,
  .nav-section:focus {
    text-underline-offset: 0.6em;
  }
}

/* Footer */

footer {
  padding: auto auto;
  background-color: #071e22;
  color: #f0f7ee;
}

.footer-col {
  text-align: center;
}

/* Hero */

.hero {
  min-height: 95vh;
  background-color: #071e22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-intro {
  font-size: x-large;
  margin: auto 45% auto 10%;
}

.hero-intro h1 {
font-size: 75px;
}

/* Skills */

/* Featured */

/* Projects */

/* Contact */

/* Blog */

/* About */
