/* Palatte: 
Rich Black - #071E22
Crimson - #D72638
Mint Cream - #F0F7EE
Black Bean - #280003
*/

body {
  margin: 0;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f7ee;
  color: #f0f7ee;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d72638;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d72638;
}
